{% extends "movieapp/layout.html" %}
{% load getdisplay %}

{% block content %}

<div id="content" role="main">
        <div id="post-35800" class="entry lazyload">
         <h1 class="postli-1">{{movie.title}}</h1>
    <div class="entry-meta clearfix">
        <span class="meta-author">类型：<a href="https://www.xl720.com/category/juqingpian" rel="category tag">{{movie|displayName:"mvtype"}}</a></span>
        <span class="meta-sep">|</span> <span class="meta-date" title="{{movie.pub_date}}">发布：{{movie.pub_date}}</span>
        <span class="meta-sep">|</span> <span class="meta-comments"><a href="https://www.xl720.com/thunder/{{movie.xl720_id}}.html#respond" target="_blank" rel="nofollow">去抢片子</a></span> 
        <span class="meta-sep">|</span> <span class="meta-comments"><a href="https://movie.douban.com/subject/{{movie.db_id}}/" target="_blank" rel="nofollow">豆瓣影评</a></span>
    </div>
    <div class="entry-content">
      <div class="subject">
        <div id="mainpic">
            <img class="alignnone size-full wp-image-35801" src="{{movie.img}}" alt="逆流大叔 (2018)" width="150" height="210" original="https://www.xl720.com/uploads/2019/06/p2560176927.jpg">
            <p class="entry-rating">豆瓣 <strong>{{movie.star|db_star}}</strong> 分</p>
        </div>
        <div id="info">导演: <a href="https://www.xl720.com/thunder/writers/%e9%99%88%e5%92%8f%e7%87%8a" rel="bookmark">{{movie.director}}</a>
            <br> 主演: {{movie.actors}}
            <br> 类型: {{movie|displayName:"mvtype"}}
            <br> 制片国家/地区: <a href="https://www.xl720.com/thunder/area/xianggang" rel="bookmark">{{movie|displayName:"mvarea"}}</a>
            <br> 语言: {{movie|displayName:"language"}}
            <br> 上映日期: {{movie.startyear}}(中国大陆) / <a href="https://www.xl720.com/thunder/years/2018" rel="bookmark">2018</a>-08-02(香港)
        </div>
        <div class="gray" style="clear: bothfloat: left;"><a href="javascript:;" onclick="slideDiv();return false;" id="m_txt">&gt;&gt; 更多 &lt;&lt;</a></div>
    </div>
    <div class="clearfix" style="clear: both;"></div>
    <h2>{{movie.title}}的剧情介绍&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h2>
    <div id="link-report">{{movie.description}}…&nbsp;</div><div id="content_btn"><a href="javascript:;" onclick="show_content();return false;">[ 显示全部剧情 ]</a></div>
    
    
    </div>
                           
   <div class="mvcontainer">
	<div class="row">
		<div class="col-md-12">
			<div id="willesPlay">
	<div class="playHeader">
		<div class="videoName">《{{movie.title}}》</div>
	</div>
	<div class="playContent">
				<video width="100%" height="100%" id="playVideo">
			<source src="/static/{{movie.videopath}}" type="video/mp4"></source>
			当前浏览器不支持 video直接播放，点击这里下载视频： <a href="http://www.52player.com">下载视频</a>
		</video>
		<div class="playTip glyphicon glyphicon-play"></div>
	</div>
	<div class="playControll">
		<div class="playPause playIcon"></div>
		<div class="timebar">
			<span class="currentTime">0:00:00</span>
			<div class="progress">
				<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
				</div>
			<span class="duration">0:00:00</span>
		</div>
		<div class="otherControl">
			<span class="volume glyphicon glyphicon-volume-down"></span>
			<span class="fullScreen glyphicon glyphicon-fullscreen"></span>
			<div class="volumeBar">
					<div class="volumewrap">
						<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 8px;height: 40%;"></div>
					</div>
						</div>
				</div>
		</div>
	</div>
</div>
			
		</div>
	</div>
</div>



</div>
</div>





{% endblock %}

