{% extends "movieapp/layout.html" %}
{% load getdisplay %}

{% block content %}

<div class="lazyload" id="homepage" role="main">

<div class="home-top clearfix">
    <div id="slider-wrap">
      <div class="cat-title clearfix"><h2>热片推荐</h2></div>
      <div class="slider clearfix">
        <ul>
        {% for item in hotmovies %}
            {% url 'movie:detail' item.id as the_url %}
            <li {{forloop.counter|setEndClass:"7"}}><a href="{{the_url}}" title="{{item.title}}" rel="bookmark">
              <div class="top-posters"><img src="{{item.img}}" alt="{{item.title}}" height="170" width="120" original="{{item.img}}"></div>
              <div class="cap">{{item.title}}</div></a><div class="entry-rating">{{item|displayName:"filehd"}}</div></li>
        {% endfor %}       
        </ul>
    </div></div>
</div>

<div id="home-left" class="clearfix"><div class="new-cat-title clearfix"><h2>最新电影</h2><span><a href="https://www.xl720.com/new" title="查看完整更新列表" rel="bookmark">更多 »</a></span></div>
    <div class="new-home-box clearfix">
        <ul>
            {% for item in newmovies %}
            <li {{forloop.counter|setEndClass:"6"}}>
                {% url 'movie:detail' item.id as the_url %}
                <a href="{{the_url}}" title="{{item.title}}" rel="bookmark">
                    <div class="posters">
                        <img src="{{item.img}}" alt="{{item.title}}" height="130" width="90" original="{{item.img}}">
                    </div><div class="cap">
                        {{item.title}}
                    </div>
                </a>
            </li>     
            {% endfor %}
        </ul>
    </div>
    <div class="new-cat-title n-title-distance clearfix"><h2>最新电视剧</h2></div><div class="new-home-box clearfix">
        <ul>
            {% for item in othermvs %}
            {% url 'movie:detail' item.id as the_url %}
           <li class="new"><a href="{{the_url}}" title="{{item.title}}" rel="bookmark">
               <div class="posters"><img src="{{item.img}}" alt="{{item.title}}" height="130" width="90" original="{{item.img}}" style="display: inline;"></div>
               <div class="cap">{{item.title}}</div></a><div class="entry-rating">连载 7 集</div>
           </li>
            {% endfor %}
        </ul>
    </div>
    </div>

<div id="home-right" class="clearfix">
    <div class="top-cat-title clearfix"><h2>本月电影排行</h2><span><a href="https://www.xl720.com/top" title="查看完整排行榜" rel="bookmark">更多 »</a></span></div>
    <div class="top-home-box clearfix">
      <ul>
        <li class="  topthree"><div class="top_number">01</div><a class="t-title" href="https://www.xl720.com/thunder/34559.html" title="海市蜃楼 Durante la tormenta (2018) 迅雷下载" rel="bookmark">海市蜃楼 Durante la tormenta (2018)</a></li>
        <li class="  topthree"><div class="top_number">02</div><a class="t-title" href="https://www.xl720.com/thunder/35055.html" title="流浪地球 (2019) 迅雷下载" rel="bookmark">流浪地球 (2019)</a></li>
        <li class="  topthree"><div class="top_number">03</div><a class="t-title" href="https://www.xl720.com/thunder/35466.html" title="惊奇队长 Captain Marvel (2019) 迅雷下载" rel="bookmark">惊奇队长 Captain Marvel (2019)</a></li>
        <li class=" "><div class="top_number">04</div><a class="t-title" href="https://www.xl720.com/thunder/34684.html" title="驯龙高手3 How To Train Your Dragon: The Hidden World (2019) 迅雷下载" rel="bookmark">驯龙高手3 How To Train Your Dragon: The Hidden World (2019)</a></li>
        <li class=" "><div class="top_number">05</div><a class="t-title" href="https://www.xl720.com/thunder/35024.html" title="盗梦特攻队 Ruben Brandt, a gyüjtö (2018) 迅雷下载" rel="bookmark">盗梦特攻队 Ruben Brandt, a gyüjtö (2018)</a></li>
        <li class=" "><div class="top_number">06</div><a class="t-title" href="https://www.xl720.com/thunder/34644.html" title="飞驰人生 (2019) 迅雷下载" rel="bookmark">飞驰人生 (2019)</a></li>
        <li class=" "><div class="top_number">07</div><a class="t-title" href="https://www.xl720.com/thunder/35650.html" title="大侦探皮卡丘 Pokémon Detective Pikachu (2019) 迅雷下载" rel="bookmark">大侦探皮卡丘 Pokémon Detective Pikachu (2019)</a></li>
        <li class=" "><div class="top_number">08</div><a class="t-title" href="https://www.xl720.com/thunder/35139.html" title="老师·好 (2019) 迅雷下载" rel="bookmark">老师·好 (2019)</a></li>
        <li class=" "><div class="top_number">09</div><a class="t-title" href="https://www.xl720.com/thunder/35163.html" title="冷血追击 Cold Pursuit (2019) 迅雷下载" rel="bookmark">冷血追击 Cold Pursuit (2019)</a></li>
        <li class=" "><div class="top_number">10</div><a class="t-title" href="https://www.xl720.com/thunder/34766.html" title="密室逃生 Escape Room (2019) 迅雷下载" rel="bookmark">密室逃生 Escape Room (2019)</a></li>
        <li class=" "><div class="top_number">11</div><a class="t-title" href="https://www.xl720.com/thunder/34571.html" title="三重威胁之跨国大营救 Triple Threat (2019) 迅雷下载" rel="bookmark">三重威胁之跨国大营救 Triple Threat (2019)</a></li>
        <li class=" "><div class="top_number">12</div><a class="t-title" href="https://www.xl720.com/thunder/34990.html" title="风中有朵雨做的云 (2019) 迅雷下载" rel="bookmark">风中有朵雨做的云 (2019)</a></li>
        <li class=" "><div class="top_number">13</div><a class="t-title" href="https://www.xl720.com/thunder/34695.html" title="无主之作 Werk ohne Autor (2018) 迅雷下载" rel="bookmark">无主之作 Werk ohne Autor (2018)</a></li>
        <li class=" "><div class="top_number">14</div><a class="t-title" href="https://www.xl720.com/thunder/34764.html" title="玻璃先生 Glass (2019) 迅雷下载" rel="bookmark">玻璃先生 Glass (2019)</a></li>
        <li class=" "><div class="top_number">15</div><a class="t-title" href="https://www.xl720.com/thunder/35178.html" title="为家而战 Fighting with My Family (2019) 迅雷下载" rel="bookmark">为家而战 Fighting with My Family (2019)</a></li>
        <li class=" "><div class="top_number">16</div><a class="t-title" href="https://www.xl720.com/thunder/34728.html" title="诡怪疑云 Aterrados (2017) 迅雷下载" rel="bookmark">诡怪疑云 Aterrados (2017)</a></li>
      </ul>
    </div>

    <div class="top-cat-title title-distance clearfix"><h2>本月电视剧排行</h2></div><div class="top-home-box clearfix">
      <ul>
        <li><a class="n-title" href="https://www.xl720.com/thunder/34909.html" title="权力的游戏 第八季 Game of Thrones Season 8 (2019) 迅雷下载" rel="bookmark">权力的游戏 第八季 Game of Thrones Season 8 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/34755.html" title="我们与恶的距离 我們與惡的距離 (2019) 迅雷下载" rel="bookmark">我们与恶的距离 我們與惡的距離 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/34265.html" title="倚天屠龙记 (2019) 迅雷下载" rel="bookmark">倚天屠龙记 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/29355.html" title="氪星 Krypton (2018) 迅雷下载" rel="bookmark">氪星 Krypton (2018)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/35224.html" title="破冰行动 (2019) 迅雷下载" rel="bookmark">破冰行动 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/33750.html" title="怒晴湘西 (2019) 迅雷下载" rel="bookmark">怒晴湘西 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/34241.html" title="黄金瞳 (2019) 迅雷下载" rel="bookmark">黄金瞳 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/35195.html" title="切尔诺贝利 Chernobyl (2019) 迅雷下载" rel="bookmark">切尔诺贝利 Chernobyl (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/34568.html" title="囚犯医生 닥터 프리즈너 (2019) 迅雷下载" rel="bookmark">囚犯医生 닥터 프리즈너 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/31193.html" title="延禧攻略 (2018) 迅雷下载" rel="bookmark">延禧攻略 (2018)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/32629.html" title="将夜 (2018) 迅雷下载" rel="bookmark">将夜 (2018)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/33103.html" title="大帅哥 大帥哥 (2018) 迅雷下载" rel="bookmark">大帅哥 大帥哥 (2018)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/27534.html" title="虎啸龙吟 (2017) 迅雷下载" rel="bookmark">虎啸龙吟 (2017)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/33813.html" title="王国 킹덤 (2019) 迅雷下载" rel="bookmark">王国 킹덤 (2019)</a></li>
        <li><a class="n-title" href="https://www.xl720.com/thunder/35324.html" title="未来岁月 Years and Years (2019) 迅雷下载" rel="bookmark">未来岁月 Years and Years (2019)</a></li>
      </ul>
    </div>
</div>

</div>


{% endblock %}
